.full-width {
  width: 100%;
}

.database-detail {
  width: 400px;
}

.hCenter {
  text-align: center;
}

.field-message {
	font-size: 12px;
    color: blue;
}

.field-error-message {
	font-size: 12px;
    color: red;
}